.Characters {
  min-height: 100vh;
  background: burlywood;

  h1 {
    text-align: center;
    padding: 15px 0;
  }

  .notification {
    font-size: 2em;
    font-weight: bold;
    color:firebrick;
    text-align: center;
    padding: 15px 0;
  }
}