.NavBar {
  ul {
    list-style-type: none;
    background: darksalmon;
    display: flex;

    li {
      font-size: 20px;
      width: 20%;
      border-right: 2px solid #000000;
      display: flex;

      &:last-child {
        border-right: none;
      }

      a {
        text-decoration: none;
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.5s;
      }

      .link {
        color: darkslategrey;
        
        &:hover {
          color: slategrey;
          text-decoration: underline;
          background: lightsalmon;
          transform: translateY(1px);
        }
      }
      
      .active-parent-link {
        color: aliceblue;
        cursor: default;
      }

      .active-child-link {
        color: aliceblue;
        cursor: pointer;
      }
    }
  }  
}