.CharacterItem {
  color: darkslategray;
  width: 18%;
  padding-bottom: 20px;
  transition-duration: 0.5s;

  &:hover {
    color: black;
    text-decoration: underline;
    transform: translateY(-10px);
    cursor: pointer;
  }

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
  }

  div {
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background: gainsboro;

    p {  
      font-size: 1.25em;
      font-weight: bold;
      text-align: center;
    }
  }
}